body {
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    text-align: center;
    font-size: 150%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 500%;
  }

h4 {
  text-align: right;
}
